@model IEnumerable<App.UI.ViewModels.ExpenseCategory.ExpenseCategoryViewModel>
@{
    ViewData["Title"] = "Expense Categories";
}

<h1 class="display-1 text-center">Expense Categories Panel</h1>
<a class="btn btn-dark" asp-controller="ExpenseCategory" asp-action="Create">Create Category</a>
<a class="btn btn-secondary" asp-controller="Admin" asp-action="Index">Back to Admin Panel</a>
<table class="table table-striped table-bordered mt-4">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Created At
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var category in Model)
        {
            <tr>
                <td>
                    @category.Id
                </td>
                <td>
                    @category.ExpenseCategoryName
                </td>
                <td>
                    @category.UserId
                </td>
                <td>
                    @category.CreatedDate.ToShortDateString()
                </td>
                <td>
                    <a class="btn btn-warning w-100" asp-controller="ExpenseCategory" asp-action="Update" asp-route-id="@category.Id">Update</a>
                </td>
                <td>
                    <a class="btn btn-danger w-100" asp-controller="ExpenseCategory" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>